#container-detail{
    display: flex; 
    align-items: center; 
    text-align: left;
}

.card-detail{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 20px;
}

.stars-detail{
    color: #1059a7;
}

#detail_img{
  width: 600px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.text-detail{
  text-align: left;
}

#row-detail{
  display: flex;
  align-items: center;
}

.div-pad-det{
  padding: 0 30px;
}



@media screen and (max-width: 900px) {
  #detail_img{
    width: 400px;
  }
  #container-detail{
    display: flex; 
    align-items: center; 
    text-align: left;
    flex-direction: column;
}
.text-detail{
  padding-left: 0;
  padding-top: 15px;
}

}
  
  @media screen and (max-width: 700px) {

  }  
  
  