@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

ol, ul {
  padding-left: 0;
}

.kazpost-img{
    width: 200px;
}

/* -----sidebar-start----- */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

.navik{
    background-color: #1059a7;
}

.h3-nav-1{
    color: white; 
    font-weight: 500;
}

#nav-link{
    color: black;
    transition: .3s;
}

#nav-link:hover{
    color: rgb(255, 179, 0);
    font-size: 17px;
}

.row-1-padding{
  padding: 0 20px;
}

.card-img-top{
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.a-search-back{
    color: black; 
    display: flex; 
    align-items: center; 
    text-decoration: none; 
    font-size: 20px;
    transition: .3s;
}

.a-search-back:hover{
    color: rgb(231, 146, 0); 
    display: flex; 
    align-items: center; 
    text-decoration: none; 
    font-size: 20px;
}

/* -----animation-button----- */

.flex-navik-2{
  display: flex;
  align-items: center;
}

#input-navik-2{
    outline: none;
    padding: 10px 10px;
    width: 300px;
    border: 1px solid #1059a7;
    border-radius: 5px;
    margin-right: 10px;
    background-color: rgb(239, 239, 239);
}

#btn-navik-2 i{
  color: #1059a7;
  font-weight: 500;
  font-size: 25px;
}

.btn {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #223ef7;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 13px 15px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
  }
  
  .btn:hover {
    opacity: .95;
  }
  
  .btn .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
  }

  @media screen and (max-width: 767px) {
    #input-navik-2{
        outline: none;
        padding: 8px 10px;
        width: 180px;
        border-radius: 5px;
        margin-right: 10px;
        background-color: rgb(239, 239, 239);
    }
    .btn {
        outline: 0;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        background: #223ef7;
        border: 0;
        border-radius: 4px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
        box-sizing: border-box;
        padding: 11px 11px;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        overflow: hidden;
        cursor: pointer;
      }
    }
  
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }
  
    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
  }

  #card-text-name{
    font-size: 16px;
  }


.btn-2{
    background-color: #1059a7;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 12px;
}

.product-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 390px; /* Или другая ширина в зависимости от вашего дизайна */
  text-align: center;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

.product-info {
  margin-top: 10px;
}

.product-title {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

.product-price {
  font-size: 16px;
  color: #666;
  margin: 5px 0;
}

.product-category {
  font-size: 14px;
  color: #888;
  margin-bottom: 15px;
}

.add-to-cart-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.add-to-cart-btn:hover {
  background-color: #0056b3;
}

.card-title {
  color: black;
  font-weight: 600;
  overflow: hidden;
  padding-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-text {
  color: black;
}

.card-category{
  color: gray;
  font-size: 13px;
}

#btn-blue{
  background-color: #0056b3;
  color: white;
}

.form-group{
  max-width: 400px;
}