{% extends 'base.html' %}
{% block content %}
<br>
<a class="a-search-back" href="{% url 'main_page' %}"><i class='bx bx-left-arrow-alt' ></i> На главную</a>
<br>
  <h1>Избранное</h1>
  <br>
  <ul> 
    {% if favorite_items %}
    <div class="row">
      {% for item in favorite_items %}
      <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
        <center>
          <div class="card">
            <br>
            <center>
              <img src="{{ item.product.image.url }}" class="card-img-top" alt="{{ item.product.name }}" style="width: 200px; height: 200px; object-fit: cover;">
            </center>
                <div class="card-body">
                  <h5 class="card-title">{{ item.product.name }}</h5>
                  <br>
                  <p>Цена: <strong>{{ item.product.price }}</strong> KZT</p>
                  <br>
                  <br>
                <a href="{% url 'remove_from_favorite' item.id %}" class="btn btn-dark"><i class='bx bx-trash' ></i></a>
                <a href="{% url 'product_detail' item.product.id %}" class="btn btn-dark">Подробнее</a>
            </div>
        </div>
        </center>
      </div>
      {% endfor %}
      {% else %}
      <br>
      <br>
      <h4>Тут пока что ничего нет =(</h4>
      <br>
      Поехали делать покупки =) <br>
      <br>
      <a class="btn btn-warning" href="{% url 'main_page' %}">К товарам</a>
      {% endif %}
    </div>
  </ul>
{% endblock %}
