{% extends 'base.html' %}
{% block content %}
<style>
    .card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px; /* Ширина, после которой начнется обрезание */
    }
</style>
        <div class="border-1">
            <br>
            <br>

            <div class="form-group">
                <label style="padding-bottom: 10px; color: black; font-size: 20px;  " for="categorySelect">Категорий</label>
                <select class="form-control" id="categorySelect" onchange="location = this.value;">
                  <option style="color: black;" value="">- Выбрать -</option>
                  <option value="/">На главную</option>
                  {% for category in categories %}
                  <option value="/main_page?category_id={{ category.id }}">{{ category.name }}</option>
                  {% endfor %}
                </select>
            </div>
            
            <br>
            <br>

            {% if user.is_staff %}
            <br>
                <div class="col-12 mb-4">
                    <a href="{% url 'upload_product' %}" class="btn-2">Загрузить товар</a>
                </div>
                <br>
            {% endif %}
            <div class="row">
                {% for product in products %}
                <div class="col-12 col-md-4 col-lg-2">
                    <a href="{% url 'product_detail' product.id %}" style="text-decoration: none;">
                        <div class="card">
                            <img src="{% if product.images.all %}{{ product.images.all.first.image.url }}{% endif %}" class="card-img-top" alt="{{ product.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.price }} KZT</p>
                                <p class="card-category">
                                    Категория: 
                                    {{ product.category.name }}</p>
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'add_to_cart' product.id %}" class="btn" style="background-color: #1059a7; color: white; display: flex; align-items: center; justify-content: center;"><i class='bx bx-cart-add' ></i><span style="font-size: 13px;">Добавить</span></a>
                                    {% else %}
                                    <div class="alert" style="font-size: 14px; color: rgb(138, 138, 138);" role="alert">
                                    Необходима авторизация!
                                    </div>
                                    {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <script>
            document.getElementById('categorySelect').addEventListener('change', function() {
                var value = this.value;
                if (value) window.location.href = value;
                });
        </script>

{% endblock %}
